.title {
    width: 100%;

}

tr {
    width: 100%;
}

th {
    padding: 5px 10px;
    width: auto;
    text-align: start;
}

td {
    padding: 5px 10px;
    vertical-align: middle;
    border-top: 1px solid #afa9b3;
}

img {
    vertical-align: middle;
}

button {
    cursor: pointer;
}



span {
    color: #000;
}